extends layout

block content
  div.container#welcome-header Unhypem is a site to  explore popular tracks from #{''}
    a(href="http://hypem.com/popular" target="_blank") hypem
    | . The page is free to use. Have fun listening to good music and
    | feel free to share this page to your friends.

  div.container
      table.table.table-hover
        thead
          tr.white
            th
            th
            th Artist
            th Title
            th Love
        tbody#popular
          each entry in popularSongsDTO
            - var streamableSong = (entry.song.stream ? "white" : "warning")
            tr(class=streamableSong id="#{entry.position}")
              td(class="vertical-center").clickToPlay #{entry.position}
              if entry.song.s_url
                td(class="horizontal-center")
                  a(href="#{entry.song.s_url}" target="_blank")
                    img(src="/img/soundcloud-icon-32.png")
              else
                td(class="horizontal-center")
                  a(href="" target="_blank")
                    img(class="center" src="/img/soundcloud-icon-32.png" style="opacity: 0.2" data-toggle="tooltip" data-placement="top" title="Song is not hosted on soundcloud.")
              td(class="vertical-center").clickToPlay #{entry.song.artist}
              td(class="vertical-center").clickToPlay #{entry.song.title}
              td(class="vertical-center").clickToPlay #{entry.song.h_loved_count}
  div.text-center Last update: #{date}

  div.bottom
    table.container.player-container
      tr(style="height:20px;")
        td.player-container-left
          ul.list-inline.margin_padding_reset
            li
              img(src="/img/rewind-icon-32.png" style="opacity: 0.7").player-rewind
            li
              img(src="/img/play-icon-32.png").player-play
            li
              img(src="/img/forward-icon-32.png" style="opacity: 0.7").player-forward
        td.player-container-right
          ul.list-inline.margin_padding_reset
            li.player-artist
            li -
            li.player-title
      tr
        td.player-container-left
          ul.list-inline.margin_padding_reset
            li
              img(src="/img/volume-minus-icon-16.png")
            li(style="width: 73px;")
              div(id="player-progressVolume").slider_bar
                div.follow_bar
            li
              img(src="/img/volume-plus-icon-16.png")
        td.player-container-right
          div.wrapper(style="position:relative; float:left; width:100%; padding-left:50px; padding-right: 70px")
            div.progress-wrapper(style="float:left; position: relative; width: 100%;")
              div.progress(style="height:5px; margin:0; border-radius:0px")
                div.progress-bar(id="player-progressLoading" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 0%; border-radius:0px")
              div(id="player-progressPlaying").slider_bar
                div.follow_bar
            div.player-currentSongPosition(style="float:left; position: relative; width:50px; right:50px; margin-left:-100%")
            div.player-currentSongDuration(style="float:left; position: relative; width:50px; margin-right: -70px; padding-left:15px")