extends layout

block content
  h1.title Unhypem - Popular Hype Machine Tracks
  h3.title Salted with some fine additional features

  div.container
      table.table.table-hover
        thead
          tr.white
            th
            th
            th
            th Artist
            th Title
            th Love
        tbody#popular
          each song in popularSongsDTO
            tr.white(id="#{song.position}")
              td.clickToPlay #{song.position}
              if song.s_url
                td
                  a(href="#{song.s_url}" target="_blank")
                    img(src="/images/soundcloud-icon-32.png")
              else
                td.warning
                  a(href="" target="_blank")
                    img(src="/images/soundcloud-icon-32.png" style="opacity: 0.7" data-toggle="tooltip" data-placement="top" title="Song is not hosted on soundcloud.")
              if song.s_mp3
                td
                  a(href="#{song.s_mp3}")
                    img(src="/images/download-icon-32.png" data-toggle="tooltip" data-placement="top" title="Right click -> Save Target As...").s_mp3
              else
                td.warning
                  a(href="#{song.s_mp3}")
                    img(src="/images/download-icon-32.png" style="opacity: 0.7" data-toggle="tooltip" data-placement="top" title="Sorry, but this song provided no direct mp3 file.").s_mp3
              td.clickToPlay #{song.artist}
              td.clickToPlay #{song.title}
              td.clickToPlay #{song.h_loved_count}
  div.bottom
    table.container.player-container
      tr(style="height:20px;")
        td.player-container-left
          ul.list-inline.margin_padding_reset
            li
              img(src="/images/rewind-icon-32.png" style="opacity: 0.7").player-rewind
            li
              img(src="/images/play-icon-32.png").player-play
            li
              img(src="/images/forward-icon-32.png" style="opacity: 0.7").player-forward
        td.player-container-right
          ul.list-inline.margin_padding_reset
            li.player-artist
            li -
            li.player-title
      tr
        td.player-container-left
          ul.list-inline.margin_padding_reset
            li
              img(src="/images/volume-minus-icon-16.png")
            li(style="width: 73px;")
              div(id="player-progressVolume").slider_bar
                div.follow_bar
            li
              img(src="/images/volume-plus-icon-16.png")
        td.player-container-right
          div.wrapper(style="position:relative; float:left; width:100%; padding-left:50px; padding-right: 70px")
            div.progress-wrapper(style="float:left; position: relative; width: 100%;")
              div.progress(style="height:5px; margin:0; border-radius:0px")
                div.progress-bar(id="player-progressLoading" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 0%; border-radius:0px")
              div(id="player-progressPlaying").slider_bar
                div.follow_bar
            div.player-currentSongPosition(style="float:left; position: relative; width:50px; right:50px; margin-left:-100%")
            div.player-currentSongDuration(style="float:left; position: relative; width:50px; margin-right: -70px; padding-left:15px")